@model ItemVM
@{
    Layout = Model.Layout;
}


<!--Main Slider-->
<section class="main-slider">

    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="~/HomePanel/images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/HomePanel/images/main-slider/image-1.jpg">

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-fontsize="['64','48','36','24']"
                         data-width="none"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-100','-120','-90','-120']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        @*<figure class="content-image"><img src="~/HomePanel/images/main-slider/content-image-1.png" alt=""></figure>*@
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['900','600','400','290']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['60','10','40','20']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text-center">
                            <h2>Have a Look at Our Beautiful Poultry Farm!</h2>
                        </div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['130','160','90','80']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <ul class="slider-list">
                            <li>Eggs</li>
                            <li>Chickens</li>
                            <li>Meat</li>
                            @*<li>Breads</li>*@
                        </ul>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['900','600','400','290']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['200','90','160','140']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text-center">
                            @*<a href="#" class="theme-btn btn-style-one">Explore</a>*@
                        </div>
                    </div>

                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="~/HomePanel/images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/HomePanel/images/main-slider/image-2.jpg">

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-fontsize="['64','48','36','24']"
                         data-width="none"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-120','-130','-130','-120']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        @*<div class="title">50 Years Experience</div>*@
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-fontsize="['64','48','36','24']"
                         data-width="none"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-60','-65','-65','-70']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <h3>Welcome To Ferme Avicole</h3>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['900','600','400','290']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['0','10','0','-15']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text">Eat Better! Feel Better</div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['50','60','50','20']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <ul class="slider-list">
                            <li>Eggs</li>
                            <li>Chickens</li>
                            <li>Meat</li>
                            @*<li></li>*@
                        </ul>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['900','600','400','290']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['120','130','110','80']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        @*<a href="#" class="theme-btn btn-style-one">Shop Now</a>*@
                    </div>

                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1690" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/HomePanel/images/main-slider/image-3.jpg">

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-fontsize="['64','48','36','24']"
                         data-width="none"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-130','-150','-140','-120']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <figure class="content-image"><img src="~/HomePanel/images/main-slider/leaf-icon.png" alt=""></figure>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['900','600','400','290']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-60','-100','-70','-60']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text text-center">Eat Better! <span class="theme_color">Feel Better</span></div>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['900','600','400','290']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['0','-55','40','40']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <h2 class="alternate">We are highly committed to</h2>
                    </div>


                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['900','600','400','290']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['55','10','-20','-20']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <h4>quality assurance</h4>
                    </div>


                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['100','50','110','90']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <ul class="slider-list">
                            <li>Eggs</li>
                            <li>Chickens</li>
                            <li>Meat</li>
                            @*<li>Breads</li>*@
                        </ul>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['900','600','400','290']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['170','100','170','150']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text-center">
                            @*<a href="#" class="theme-btn btn-style-one">Shop Now</a>*@
                        </div>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</section>
<!--End Main Slider-->
<!--Experiance Section-->
<section class="experiance-section" style="background-image:url(HomePanel/images/background/1.jpg);">
    <div class="auto-container">
        <div class="inner-content">
            <!--Sec Title-->
            <div class="sec-title centered">
                <div class="icon-box"></div>
                
                
            </div>
            <div class="text-content">
                <div class="text">FERME AVICOLE is all about using modern method in Poultry farming and its product worldwide. We started this website with numerous experienced volunteers. We accept volunteers throughout the world who want to contribute and share their farming experience. We started this website by keeping in mind one thing and that is “INVENTORY MANAGEMENT” to update the stock .The website helps the farm owner in managing its day to day work along with the sales of  poultry products.</div>
                @*<a href="#" class="theme-btn btn-style-one">discover</a>*@
            </div>
        </div>
    </div>
</section>
<!--End Experiance Section-->
<!--Cart Section-->
@*<section class="cart-info-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="content-column pull-right col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <h3>Natural Vegitabels</h3>
                    <h2>$35.00</h2>
                    <div class="text">Nullam sit amet turpis ornare, pulvinar lectus in, cursus mi. Duis et unc eu li duis sodales tempor pulvinar.</div>
                    <div class="category">Category : <span>Vegetable Box</span></div>
                    <a href="shop-single.html" class="theme-btn btn-style-one"><span class="fa fa-cart-plus"></span>&ensp;Add To Cart</a>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column pull-left col-md-6 col-sm-12 col-xs-12">
                <figure class="image">
                    <img src="~/HomePanel/images/resource/image-1.png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</section>*@
<!--End Cart Section-->
<!--Featured Section-->
@*<section class="featured-section">
    <div class="auto-container">
        <div class="featured-inner">
            <div class="row clearfix">
                <!--Featured Block-->
                <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon-box">
                                <span class="icon"><img src="~/HomePanel/images/resource/featured-icon-1.png" alt="" /></span>
                            </div>
                            <div class="title">Fariming Process</div>
                            <h2><a href="services.html">Farm Fresh</a></h2>
                            <div class="text">Cras ultricies mi eu turpis hen...</div>
                        </div>
                    </div>
                </div>

                <!--Featured Block-->
                <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon-box">
                                <span class="icon"><img src="~/HomePanel/images/resource/featured-icon-2.png" alt="" /></span>
                            </div>
                            <div class="title">Organic Vegetables</div>
                            <h2><a href="services.html">Fresh Vegetables</a></h2>
                            <div class="text">Cras ultricies mi eu turpis hen...</div>
                        </div>
                    </div>
                </div>

                <!--Featured Block-->
                <div class="featured-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon-box">
                                <span class="icon"><img src="~/HomePanel/images/resource/featured-icon-3.png" alt="" /></span>
                            </div>
                            <div class="title">Organic Fruits</div>
                            <h2><a href="services.html">Fresh Fruits</a></h2>
                            <div class="text">Cras ultricies mi eu turpis hen...</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>*@
<!--End Featured Section-->
<!--Choose Section-->
<section class="choose-section">
    <div class="auto-container">

        <!--Image Column-->
        <div class="image-column">
            <figure class="image">
                <img src="" alt="" />
            </figure>
            <!--Title Boxed-->
            <div class="title-boxed">
                <div class="sec-title centered">
                    <div class="icon-box"></div>
                    <div class="title">What We Do</div>
                    <h2>Why Choose Us</h2>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <!--Column-->
            <div class="column pull-left col-lg-4 col-md-6 col-sm-6 col-xs-12">

                <!--Featured Block Two-->
                <div class="featured-block-two">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-broccoli"></span>
                        </div>
                        <h3><a href="services.html">Quality Eggs</a></h3>
                        <div class="text">Meet the maker of our oranges  Tristique. It’s his juicy oranges from Mil, Victoria that you’ll find in your </div>
                    </div>
                </div>

                <!--Featured Block Two-->
                <div class="featured-block-two">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-apple-1"></span>
                        </div>
                        <h3><a href="services.html">Standard Chickens</a></h3>
                        <div class="text">Meet the maker of our oranges  Tristique. It’s his juicy oranges from Mil, Victoria that you’ll find in your </div>
                    </div>
                </div>

                <!--Featured Block Two-->
                <div class="featured-block-two">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-food"></span>
                        </div>
                        <h3><a href="services.html">High Quality Products</a></h3>
                        <div class="text">Meet the maker of our oranges  Tristique. It’s his juicy oranges from Mil, Victoria that you’ll find in your </div>
                    </div>
                </div>

            </div>

            <!--Column-->
            <div class="column pull-right col-lg-4 col-md-6 col-sm-6 col-xs-12">

                <!--Featured Block Three-->
                <div class="featured-block-three">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-bus-1"></span>
                        </div>
                        <h3><a href="services.html">Fast Free Delivery</a></h3>
                        <div class="text">Meet the maker of our oranges  Tristique. It’s his juicy oranges from Mil, Victoria that you’ll find in your </div>
                    </div>
                </div>

                <!--Featured Block Three-->
                <div class="featured-block-three">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-smartphone-1"></span>
                        </div>
                        <h3><a href="services.html">Custom Order</a></h3>
                        <div class="text">Meet the maker of our oranges  Trist. It’s his juicy oranges from l, Victoria td in your</div>
                    </div>
                </div>

                <!--Featured Block Three-->
                <div class="featured-block-three">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-farmer-1"></span>
                        </div>
                        <h3><a href="services.html">Certified Workers</a></h3>
                        <div class="text">Meet the maker of our oranges  Trist. It’s his juicy oranges from l, Victoria td in your</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!--End Choose Section-->
<!--Call To Action Section-->
@*<section class="call-to-action-section" style="background-image:url(HomePanel/images/background/2.jpg);">
    <div class="auto-container">
        <h3>Healthy Living</h3>
        <h2>A Healthy Outside Starts From Inside</h2>
        <a href="shop.html" class="theme-btn btn-style-one">see all Products</a>
    </div>
</section>*@
<!--End Call To Action Section-->
<!--Product Section-->
<section class="product-section">
    <span class="product-right-image"><img src="~/HomePanel/images/resource/product-right-image.jpg" alt="" /></span>
    <span class="product-left-image"><img src="~/HomePanel/images/resource/product-left-image.jpg" alt="" /></span>
    <span class="product-middle-image"><img src="~/HomePanel/images/resource/product-middle-image.jpg" alt="" /></span>
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box"></div>
       
            <h2>Our New Products</h2>
        </div>

        <!--Sortable Gallery-->
        <div class="mixitup-gallery">

            <!--Filter-->
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns text-center">
                    <li class="filter active" data-role="button" data-filter="all">ALL PRODUCTS</li>
        
                    @foreach (var item in Model.CateGoryList)
                    {
                        <li class="filter" data-role="button" data-filter="@item.Data_Filter">@item.Category_Name</li>
                    }
                </ul>
            </div>

            <div class="filter-list row clearfix">

                <!--Shop Item-->
@foreach (var item1 in Model.ItemList)
{
                <div class="shop-item col-md-4 col-sm-6 col-xs-12 mix @item1.Data_Filter">
                    <div class="inner-box">
                      
                       
                            <div class="image-box"><img src="@item1.Image_Path" alt=""></div>
                        <!--lower box-->
                            <div class="lower-box">
                                <h3><a href="shop-single.html">@item1.Item_Name</a></h3>
                                <span class="price">@item1.Item_Price</span>
                                <a href="@Url.Action("ProductDetails","Product",new { id = item1.Item_Id })" class="theme-btn btn-style-one"><span class="fa fa-cart-plus"></span>&ensp;Add To Cart</a>
                            </div>
                       
                    </div>
                </div>
}


            </div>
        </div>

    </div>
</section>
<!--End Product Section-->
<!--Subscribe Style One-->
@*<section class="subscribe-style-one">
    <span class="left-image"><img src="~/HomePanel/images/resource/newsletter-1.png" alt="" /></span>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-md-4 col-sm-12 col-xs-12">
                <h2>Subscribe To our <br> <span class="theme_color">Newsletter</span></h2>
            </div>
            <div class="column col-md-8 col-sm-12 col-xs-12">
                <form method="post" action="http://t.commonsupport.com/rotterdam/contact.html">
                    <div class="form-group">
                        <input type="email" name="email" value="" placeholder="Enter your email.." required>
                        <button type="submit" class="subscribe-btn">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <span class="right-image"><img src="~/HomePanel/images/resource/newsletter-2.png" alt="" /></span>
</section>*@
<!--End Subscribe Style One-->
<!--Farmer Section-->
@*<section class="farmer-section">
    <div class="auto-container">
        <span class="right-image"><img src="~/HomePanel/images/resource/product-middle-image.jpg" alt="" /></span>
        <span class="left-image"><img src="~/HomePanel/images/resource/farmer-left-img.jpg" alt="" /></span>
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="icon-box"></div>
            <div class="title">Our Great Team</div>
            <h2>Our Farmers</h2>
            <div class="text">As more and more people are turning to organic lifestyles & trying improve their health As more and more people </div>
        </div>
        <div class="row clearfix">

            <!--Team Member-->
            <div class="team-member col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/team-1.png" alt=""></figure>
                        <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4><a href="team-single.html">David Warner</a></h4>
                        <div class="designation">Farm Manager</div>
                        <div class="text">As more and more people are turning to organic lifestyles </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/HomePanel/images/resource/team-2.png" alt=""></figure>
                        <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4><a href="team-single.html">James Simth</a></h4>
                        <div class="designation">Pastoral Farmer</div>
                        <div class="text">As more and more people are turning to organic lifestyles </div>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/HomePanel/images/resource/team-3.png" alt=""></figure>
                        <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <h4><a href="team-single.html">Adam Rose</a></h4>
                        <div class="designation">Arable Farmer</div>
                        <div class="text">As more and more people are turning to organic lifestyles </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>*@
<!--End Farmer Section-->
<!--Testimonial Section-->
<section class="testimonial-section" @*style="background-image:url(HomePanel/images/background/3.jpg)*@;">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <div class="icon-box"></div>
            <div class="title">Customer Feedback</div>
            <h2>Testimonials</h2>
            @*<div class="text">As more and more people are turning to organic lifestyles & trying improve their health As more and more people </div>
        </div>*@

        <div class="single-item-carousel owl-carousel owl-theme">

            <!--Testimonail Style One-->
            <div class="testimonail-style-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/HomePanel/images/resource/author-1.jpg" alt="" />
                    </div>
                    <div class="text">The product of Poultry are of good quality and along with it they provide good service.</div>
                    <h2>Chetan Joshi</h2>
                    <div class="designation">Regular Customer</div>
                    <span class="quote-icon flaticon-left-quote-1"></span>
                </div>
            </div>

            <!--Testimonail Style One-->
            <div class="testimonail-style-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/HomePanel/images/resource/author-1.jpg" alt="" />
                    </div>
                    <div class="text">The product of Poultry are of good quality and along with it they provide good service.</div>
                    <h2>Chetan Joshi</h2>
                    <div class="designation">Regular Customer</div>
                    <span class="quote-icon flaticon-left-quote-1"></span>
                </div>
            </div>

            <!--Testimonail Style One-->
            <div class="testimonail-style-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="~/HomePanel/images/resource/author-1.jpg" alt="" />
                    </div>
                    <div class="text">The product of Poultry are of good quality and along with it they provide good service.</div>
                    <h2>Chetan Joshi</h2>
                    <div class="designation">Regular Customer</div>
                    <span class="quote-icon flaticon-left-quote-1"></span>
                </div>
            </div>

        </div>
    </div>
</section>